body{
    font-family: 'Open Sans', sans-serif;
}
.App{
    max-width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
thead th{
    font-weight:bold !important;
}
tbody{
    min-height: 500px;
}
h2{
    font-family: 'Roboto', sans-serif;
}

.inputs>div{
    display: inline-block;
    margin-bottom: 20px;
}
.inputs div:nth-child(2){
    margin-left:2%;
}
.MuiAutocomplete-inputRoot .MuiAutocomplete-input{
    width: 100% !important;
}
.MuiFormControl-root{
    width: 300px;
}
.loader-table .MuiCircularProgress-root{
    position: relative;
    left: 150%;
} 
.loader-chart .MuiCircularProgress-root{
    position: relative;
    left: 45%;
    top: 400px;
}
.MuiCircularProgress-colorPrimary{
    color: rgba(0, 0, 255, 0.6) !important;
}

//Mobile
@media only screen and (min-width: 1000px) {
    .App{
      max-width: 900px;
    }
    .inputs>div{ 
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 1200px) {
    .App{
      max-width: 1000px;
    }
}
@media only screen and (min-width: 1400px) {
    .App{
      max-width: 1200px;
    }
}